aniso8601==7.0.0
click==8.0.1
colorama==0.4.4
Flask==2.0.1
Flask-GraphQL==2.0.1
Flask-RESTful==0.3.9
Flask-SQLAlchemy==2.5.1
graphene==2.1.9
graphene-sqlalchemy==2.3.0
graphql-core==2.3.2
graphql-relay==2.0.1
graphql-server-core==1.2.0
greenlet==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
promise==2.3
python-dotenv==0.19.0
pytz==2021.1
Rx==1.6.1
singledispatch==3.7.0
six==1.16.0
SQLAlchemy==1.4.23
Werkzeug==2.0.1
gunicorn
blinker
flask_script
